:root {
    --kuromi: #d0c6e9;
    --pompompurin: #f4efab;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-color: var(--kuromi);
    padding: 15px;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

.searchHistoryContainer {
    border: 5px solid var(--kuromi);
    padding: 10px;
    border-radius: 5%;
}